RewriteEngine On

RewriteRule ^headhunting-dienstleistungen/?$ /services.html [R=301,L]
RewriteRule ^ueber-msc-headhunters/?$ /about.html [R=301,L]
RewriteRule ^internationale-headhunter/?$ /international.html [R=301,L]
RewriteRule ^unsere-referenzen/?$ /testimonials.html [R=301,L]
RewriteRule ^headhunting-honorare/?$ /fee-structure.html [R=301,L]
RewriteRule ^warum-msc-headhunting/?$ /why-choose-us.html [R=301,L]
RewriteRule ^frequently-asked-questions/?$ /faq.html [R=301,L]
RewriteRule ^klienten-referenzen/?$ /clients.html [R=301,L]
RewriteRule ^datenschutz/?$ /privacy.html [R=301,L]
RewriteRule ^die-5-wichtigsten-fragen-die-sie-stellen-mussen/?$ /questions-to-ask.html [R=301,L]
RewriteRule ^industrie-sektoren/?$ /sectors.html [R=301,L]
RewriteRule ^kontakt-msc-headhunting/?$ /contact.html [R=301,L]
RewriteRule ^besondere-garantien/?$ /why-choose-us.html [R=301,L]
RewriteRule ^msc-retained-dienstleistung/?$ /services.html [R=301,L]
RewriteRule ^msc-keine-bewerberdatenbank-nutzen/?$ /why-avoid-contingency.html [R=301,L]
RewriteRule ^blog/.+$ /blog.html [R=301,L]
RewriteRule ^category/.+$ /blog.html [R=301,L]
RewriteRule ^tag/.+$ /blog.html [R=301,L]
